/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/


/*
MAIN COLOR #087f5b
BUTTON TINT #099268
GREY COLOR #343a40

*/


/* MAIN STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #343a40;
    line-height: 1;
}

p {
    font-size: 24px;
    line-height: 1.5;
}

li {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 20px;
}

.accordion {
    width: 700px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.item {
    padding: 24px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.397);
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
    row-gap: 24px;
    align-items: center;
}

.number {
    color: #adb5bd;
}

.text {
    line-height: 1.5;
    color: #343a40;
}

.icon {
    width: 24px;
    height: 24px;
    stroke: #099268;
}

.hidden-box {
    grid-column: 2/ 3;
    /* display: none; */
}

.hidden-box p {
    font-size: 18px;
    margin-bottom: 25px;
}

.hidden-box ul {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hidden-box li {
    color: #868e96;
}

.open {
    border-top: 5px solid #099268;
}

.open .hidden-box {
    display: block;
    display: none;
}

.open .number{
	color: #099268;
}

.open .text{
	color: #099268;
}