* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  color: white
}

.container {
  margin: 0 auto;
  width: 80%;

}

header {
  background-color: orange;
  height: 100vh;
  padding-top: 32px;
  position: relative;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.787), rgba(0, 0, 0, 0)),
    url(hero.jpg);
  background-size: cover;
}

section {
  padding: 96px 0;
  color: grey;
}

nav {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.header-container {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-container-inner {
  width: 50%;
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: #e67e22;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

section {
  padding: 96px 0;
}
