/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
MAIN COLOR #087f5b
BUTTON TINT #099268
GREY COLOR #343a40
*/

/* MAINS STYLE */

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.carrousel {
  font-family: "INTER", sans-serif;
  background-color: #099268;
  width: 800px;
  height: 250px;
  margin: 100px auto;
  padding: 20px;
  padding-left: 86px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
}

.main-img {
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.732);
  transform: scale(1.4);
  margin-right: 30px;
}

p {
  color: #e6fcf5;
}

.testimonial {
}

.testimonial-text {
  font-size: 20px;
  margin-bottom: 40px;
}

.author {
  font-size: 18px;
}
.jobtitle {
  font-size: 12px;
}

.btn {
  width: 40px;
  height: 40px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.381);
  border: none;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-icon{
    height: 24px;
    width: 24px;
    stroke: #099268;
    
}

.left{
    left: -20px;   
}

.right{
    right: -20px;
}

.dots{
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 32px);
  display: flex;
  gap: 10px;
}

.dot{
  width: 12px;
  height: 12px;
  background-color: white;
  border: 2px solid  #099268;
  border-radius: 50%;
}

.dot:first-child{
  background-color: #099268;
}
